apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  type: NodePort # Change to NodePort. Previously it was "ClusterIP"
  selector:
    app: api
  ports:
    - port: 3000
      targetPort: 3000
